<link rel="stylesheet" href="app.component.css">
<div class="content">
  <div class="topnav">
    <div class="container">
      <div class="left">
        <i class="fa fa-envelope"></i>
        jcsnkrs800@gmail.com
        <i class="fa fa-phone-flip"></i>
        (774) 420-6185
      </div>
      <div class="right">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="container">
      <div class="left">
        <h1 class="title">Carter</h1>
      </div>
      <div class="mid">
        <div class="link"><a routerLink="home">Home</a></div>
        <div class="link"><a routerLink="about">About</a></div>
        <div class="link"><a routerLink="shop">Shop</a></div>
        <div class="link"><a routerLink="contact">Contact</a></div>
      </div>
      <div class="right">
        <a class="raw-links" routerLink="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="raw-links" routerLink="cart"><i class="fa-solid fa-cart-arrow-down"></i></a>
        <a class="raw-links" routerLink="dashboard"><i class="fa-solid fa-user"></i></a>
      </div>
    </div>
  </div>

  <div class="main">

    <router-outlet></router-outlet>

  </div>
  <div class="footer">
    <div class="container">
      <div class="row navigation">
        <div class="col-md-4">
          <div class="header logo">Carter's Shop</div>
          <div class="links">
            <div class="row">
              <span>
                <i class="fa fa-phone-flip"></i>
                <a href="tel:7744206185">(774) 420-6185</a>
              </span>
            </div>
            <div class="row">
              <span>
                <i class="fa fa-envelope"></i>
                <a href="mailto:jcsnkrs800@gmail.com">jcsnkrs800@gmail.com</a>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="header">Products</div>
          <div class="links">
            <div class="row"><a href="">Shoes</a></div>
            <div class="row"><a href="">Clothing</a></div>
            <div class="row"><a href="">Accessories</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="header">Further Info</div>
          <div class="links">
            <div class="row"><a href="">Home</a></div>
            <div class="row"><a href="">About Us</a></div>
            <div class="row"><a href="">FAQs</a></div>
            <div class="row"><a href="">Contact</a></div>
          </div>
        </div>
      </div>
      <div class="row social">
        <div class="col-md-8">
          <ul>
            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="search input-group">
            <input type="text" placeholder="Email address" class="form-control">
            <button class="input-group-text">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        Copyright © Jay Carter's Sneaker Hub | Designed by Sean_or_Tony
      </div>
    </div>
  </div>
</div>
