<div class="body">
  <div id="hero">
    hero
  </div>
  <div id="categoryOfTheMonth">
    <div class="container">
      <div class="title text-center">
        <h3>Categories of The Month</h3>
        <p>Most purchased items of the previous month.</p>
      </div>
      <div class="stuff row">

        <div class="item col-md-4 p-5 text-center">
          <img src="assets/img/category_img_01.jpg" alt="Category1" class="rounded-circle">
          <p>label</p>
          <a class="btn btn-success">Shop Now</a>
        </div>

        <div class="item col-md-4 p-5 text-center">
          <img src="assets/img/category_img_02.jpg" alt="Category2" class="rounded-circle">
          <p>label</p>
          <a class="btn btn-success">Shop Now</a>
        </div>

        <div class="item col-md-4 p-5 text-center">
          <img src="assets/img/category_img_03.jpg" alt="Category3" class="rounded-circle">
          <p>label</p>
          <a class="btn btn-success">Shop Now</a>
        </div>

      </div>
    </div>
  </div>
  <div id="featuredProducts">
    <div class="container">
      <div class="title text-center">
        <h3>Featured Products</h3>
        <p>Special items on sale.</p>
      </div>
      <div class="stuff row mt-5">

        <div class="item col-md-4">
            <div class="card">
              <a href="#">
                <img class="card-img-top" src="assets/img/feature_prod_01.jpg" alt="Feature Prod 1">
              </a>
              <div class="card-body">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="rating text-left">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star text-muted"></span>
                    </div>
                    <div class="price text-right text-muted">
                      $250
                    </div>
                  </div>
                  <a href="#" class="text-decoration-none text-dark"><h4>Item Title</h4></a>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                  </p>
                <a href="#" class="text-muted text-decoration-none"><p>Reviews(20)</p></a>
              </div>
            </div>
        </div>

        <div class="item col-md-4">
            <div class="card">
              <a href="#">
                <img class="card-img-top" src="assets/img/feature_prod_02.jpg" alt="Feature Prod 2">
              </a>
              <div class="card-body">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="rating text-left">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <div class="price text-right text-muted">
                      $250
                    </div>
                  </div>
                  <a href="#" class="text-decoration-none text-dark"><h4>Item Title</h4></a>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                  </p>
                <a href="#" class="text-muted text-decoration-none"><p>Reviews(20)</p></a>
              </div>
            </div>
        </div>

        <div class="item col-md-4">
            <div class="card">
              <a href="#">
                <img class="card-img-top" src="assets/img/feature_prod_03.jpg" alt="Feature Prod 3">
              </a>
              <div class="card-body">
                  <div class="d-flex justify-content-between mb-2">
                    <div class="rating text-left">
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star text-muted"></span>
                      <span class="fa fa-star text-muted"></span>
                    </div>
                    <div class="price text-right text-muted">
                      $250
                    </div>
                  </div>
                  <a href="#" class="text-decoration-none text-dark"><h4>Item Title</h4></a>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt in culpa qui officia deserunt.
                  </p>
                <a href="#" class="text-muted text-decoration-none"><p>Reviews(20)</p></a>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  <div id="recommendations">
    <div class="container">
      <div class="title text-center">
        <h3>For you</h3>
        <p>Products based on your profile.</p>
      </div>
      <div class="stuff row">
        <div class="item col-sm-2">
          <a href="#" class="text-decoration-none">
            <div class="card">
                <img src="assets/img/feature_prod_02.jpg" alt="item title" class="card-img-top">
              <div class="card-body">
                <div class="text-dark">Item Title</div>
                <div class="text-muted">$25</div>
              </div>
            </div>
          </a>
        </div>

        <div class="item col-sm-2">
          <a href="#" class="text-decoration-none">
            <div class="card">
                <img src="assets/img/feature_prod_02.jpg" alt="item title" class="card-img-top">
              <div class="card-body">
                <div class="text-dark">Item Title</div>
                <div class="text-muted">$25</div>
              </div>
            </div>
          </a>
        </div>

        <div class="item col-sm-2">
          <a href="#" class="text-decoration-none">
            <div class="card">
                <img src="assets/img/feature_prod_02.jpg" alt="item title" class="card-img-top">
              <div class="card-body">
                <div class="text-dark">Item Title</div>
                <div class="text-muted">$25</div>
              </div>
            </div>
          </a>
        </div>

        <div class="item col-sm-2">
          <a href="#" class="text-decoration-none">
            <div class="card">
                <img src="assets/img/feature_prod_02.jpg" alt="item title" class="card-img-top">
              <div class="card-body">
                <div class="text-dark">Item Title</div>
                <div class="text-muted">$25</div>
              </div>
            </div>
          </a>
        </div>

        <div class="item col-sm-2">
          <a href="#" class="text-decoration-none">
            <div class="card">
                <img src="assets/img/feature_prod_02.jpg" alt="item title" class="card-img-top">
              <div class="card-body">
                <div class="text-dark">Item Title</div>
                <div class="text-muted">$25</div>
              </div>
            </div>
          </a>
        </div>
        <div class="item col-sm-2">
          <a href="#" class="text-decoration-none">
            <div class="card">
                <img src="assets/img/feature_prod_02.jpg" alt="item title" class="card-img-top">
              <div class="card-body">
                <div class="text-dark">Item Title</div>
                <div class="text-muted">$25</div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
